/* ======================== Variable ======================== */
:root {
	--ff-text: "Inter-Regular", Helvetica;
	--ff-text-semi-bold: "Inter-SemiBold", Helvetica;
	--clr-toggle-button: #728a1a;
	--clr-button: #bbb;
	--clr-arrow: #000;
	--clr-text-produk: #212121;
	--clr-border: rgb(194, 194, 194);
	--clr-abu-sedang: #6d7588;
	--clr-abu-agak-tua: #46494e;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

div {
	display: block;
}

/* ======================== Login Register Page ======================== */
/* container */
.loginregister {
	height: 100vh;
	width: 100vw;
	font-family: var(--ff-body);
	font-size: 0.95rem;
	overflow-x: hidden;
	text-align: center;
	align-items: center;
}

.loginregister-container {
	position: relative;
	padding: 3% 5% 3% 0;
	max-width: 60%;
	margin: auto;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 7%;
}

.loginregister h1 {
	color: var(--clr-toggle-button);
	margin-top: 38px;
	justify-self: center;
	position: relative;
	font-weight: 800;
	font-size: 37px;
	margin-bottom: 30px;
	pointer-events: none;
}

/* greeting */
.greetingCard {
	text-align: left;
	border-right: solid var(--clr-border);
	padding-right: 15%;
	padding-left: 5%;
}

.backButton {
	display: absolute;
	background-color: var(--clr-toggle-button);
	padding: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: 0.6s ease-in-out;
}

.backButton:hover {
	transform: scale(1.1);
}

.icon-back {
	font-size: 20px;
}

.greetingImage {
	width: 120%;
}

/* form */
.loginform {
	text-align: left;
}

.loginform h2 {
	font-family: var(--ff-text-semi-bold);
	color: var(--clr-text-produk);
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 32px;
	pointer-events: none;
}

.loginform .centered {
	text-align: center;
}

.loginform label {
	line-height: 35px;
	color: var(--clr-abu-agak-tua);
}

.loginform input {
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	border: 1px solid var(--clr-border);
	margin-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.register-button-container {
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
}

.registerButton {
	width: 38%;
	height: 35px;
	color: #fff;
	font-family: var(--ff-text-semi-bold);
	background-color: var(--clr-toggle-button);
	border: none;
	border-radius: 10px;
	font-size: 19px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.6s ease-in-out;
}

.registerButton:hover {
	transform: scale(1.05);
}

.loginform {
	font-size: 16.5px;
	margin-bottom: 20px;
	position: relative;
}

.loginform [class="email"] {
	margin-bottom: 28px;
}

.loginform [class="password"] {
	margin-bottom: 15px;
}

.loginform [class="email-register"] {
	margin-bottom: 28px;
}

.loginform [class="username-register"] {
	margin-bottom: 28px;
}

.loginform [class="password-register"] {
	margin-bottom: 32px;
}

.otherAccount {
	color: var(--clr-abu-sedang);
	font-size: 15px;
	margin-bottom: 32px;
	position: relative;
}

.loginform .otherAccount:before {
	content: "";
	width: 30%;
	height: 1px;
	display: block;
	background: #6d758873;
	position: absolute;
	top: 50%;
	left: 0;
}

.loginform .otherAccount:after {
	content: "";
	width: 30%;
	height: 1px;
	display: block;
	position: absolute;
	background: #6d758873;
	top: 50%;
	right: 0;
}

.google-button-container {
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
}

.googleButton {
	width: 38%;
	height: 35px;
	background-color: white;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	cursor: pointer;
	border: 1px solid var(--clr-abu-sedang);
	overflow: hidden;
	transition: 0.6s ease-in-out;
}

.googleButton:hover {
	transform: scale(1.05);
}

.icon-google {
	margin-top: 2px;
	font-size: 18px;
}

.loginform .existAccount {
	font-size: 15px;
	margin-bottom: 20px;
	color: var(--clr-abu-sedang);
}

.loginform .existAccount a {
	font-weight: 800;
	color: var(--clr-toggle-button);
	margin-bottom: 20px;
}

.existAccount a {
	text-decoration: none;
	transition: 0.3s ease;
}

.existAccount a:hover {
	text-decoration: underline;
}

.lupa-container {
	text-align: right;
	margin-top: -10px;
	margin-bottom: 32px;
}

.loginform .lupaPassword {
	color: var(--clr-toggle-button);
	font-size: 14px;
	text-decoration: none;
	transition: 0.3s ease;
}

.lupaPassword:hover {
	text-decoration: underline;
}

.loginform .visible {
	position: relative;
	top: 4px;
	margin-left: -30px;
	cursor: pointer;
}

.visible {
	color: var(--clr-abu-sedang);
}

@media only screen and (max-width: 470px) {
	.loginregister-container {
		grid-template-columns: 1fr;
		padding-left: 25px;
		max-width: 90%;
	}

	.greetingImage {
		display: none;
	}

	.greetingCard {
		border-right: none;
	}
}
