/* ======================== Variable ======================== */
:root {
	--ff-text: "Inter-Regular", Helvetica;
	--ff-text-semi-bold: "Inter-SemiBold", Helvetica;
	--clr-toggle-button: #728a1a;
	--clr-button: #bbb;
	--clr-arrow: #000;
	--clr-text-produk: #212121;
	--clr-border: rgb(194, 194, 194);
	--clr-abu-muda: #f0f3f7;
	--clr-abu-sedang: #6d7588;
	--clr-abu-agak-tua: #46494e;
	--clr-hijau-opa-22: #728a1a38;
	--clr-hitam: #000;
	--clr-hitam-luntur: #212121;
	--clr-putih: #fff;
	--clr-hijau-lumut: #728a1a;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

/* ======================== Main Home Page ======================== */
.main-seller-page-container {
	height: 100vh;
	width: 100vw;
	font-family: var(--ff-body);
	font-size: 0.95rem;
	line-height: 1.5;
	overflow-x: hidden;
}

.horizontal-line-seller-menu {
	background-color: #aaa5a53d;
	height: 2px;
}

/* ======================== Main Seller Page Container ======================== */
.main-seller-menu-container {
	display: flex;
	width: 80%;
	margin-left: 10%;
}

/* ======================== Seller Menu Option Container ======================== */
.seller-menu-container {
	width: 20%;
	user-select: none;
}

.seller-menu-choose-option-container {
	width: 80%;
	margin-left: 24px;
}

.seller-menu-height {
	border: 1px solid var(--clr-abu-muda);
	border-radius: 12px;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
	padding-bottom: 50px;
}

.hide-seller-menu-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 12px 25px;
	gap: 5px;
	font-family: var(--ff-body);
	cursor: pointer;
	width: fit-content;
}

.chevron-hide-menu {
	font-size: 20px;
	color: #6d7588;
}

.hide-seller-menu-content p {
	font-size: 16px;
	color: #6d7588;
}

.seller-menu-option-container {
	margin: 20px 0;
}

.home-seller-option-menu {
	display: flex;
	flex: row;
}

.seller-menu-option-content {
	display: flex;
	flex-direction: column;
	padding: 10px 30px;
}

.seller-menu-option-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.seller-menu-option-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	color: #46494e;
	cursor: pointer;
}

.seller-menu-option-header-choose {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
	color: #46494e;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.seller-menu-option-header-choose:hover {
	color: var(--clr-hijau-lumut);
	transform: scale(1.02);
}

.seller-menu-option-header-h2.selected,
.seller-menu-option-header-choose.selected {
	color: var(--clr-hijau-lumut);
}

.seller-menu-option-header h2 {
	padding-left: 10px;
	font-size: 17px;
	font-weight: 500;
	color: #46494e;
}

.seller-menu-option-header-choose h2 {
	padding-left: 10px;
	font-size: 17px;
	font-weight: 500;
	color: #46494e;
	transition: 0.3s ease-in-out;
}

.seller-menu-option-header-choose h2:hover {
	color: var(--clr-hijau-lumut);
}

.chevron-seller-option-header {
	display: flex;
	font-size: 20px;
	color: #46494e;
	transition: 0.3s ease-in-out;
}

.chevron-seller-option-header.open-seller {
	transform: rotate(180deg);
}

.seller-menu-option-content h3 {
	font-size: 16px;
	font-weight: 500;
	color: #46494e;
	cursor: pointer;
	width: fit-content;
	transition: 0.3s ease-in-out;
}

.seller-menu-option-content h3:hover {
	color: var(--clr-hijau-lumut);
	transform: scale(1.02);
}

.seller-produk-option-content,
.seller-pesanan-option-content,
.seller-chat-option-content,
.seller-pengaturan-option-content {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	margin-top: 10px;
	gap: 10px;
	display: none;
}

.seller-produk-option-content.show-seller-dropdown,
.seller-pesanan-option-content.show-seller-dropdown,
.seller-chat-option-content.show-seller-dropdown,
.seller-pengaturan-option-content.show-seller-dropdown {
	display: flex;
	z-index: 1;
}

.select-seller-option-menu.selected {
	color: var(--clr-hijau-lumut);
	transform: scale(1.02);
}

/* ===================================================================================== */
/* ======================== Seller Menu Choose Option Container ======================== */
/* ===================================================================================== */
.seller-menu-choose-option-container {
	width: 100%;
	margin-bottom: 60px;
	user-select: none;
}

.home-seller-option-menu-container {
	display: flex;
	flex-direction: row;
	gap: 25px;
}

.home-seller-option-menu-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 75%;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
	background: linear-gradient(
		180deg,
		#728a1a 0.04%,
		rgba(114, 138, 26, 0.84) 0.04%,
		rgba(114, 138, 26, 0.55) 12.79%,
		rgba(114, 138, 26, 0.43) 27.25%,
		rgba(114, 138, 26, 0.24) 59.56%,
		rgba(114, 138, 26, 0.2) 100.63%,
		rgba(114, 138, 26, 0) 100.64%
	);
}

.home-seller-option-menu-header {
	font-family: Inter;
	margin: 30px 40px;
}

.home-seller-option-menu-header h1 {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.home-seller-option-menu-header p {
	color: #f0f3f7;
	font-size: 18px;
	font-weight: 500;
}

.home-seller-order-product-container {
	display: flex;
	align-self: center;
	background: #fff;
	width: 91%;
	border-radius: 10px;
	margin: 20px 0;
	height: 250px;
}

.home-seller-order-product-content {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 30px 15px;
}

.seller-order-card-1 {
	width: 120px;
	height: 100%;
	border-radius: 5px;
	background: linear-gradient(
		267deg,
		rgba(179, 194, 122, 0.6) -128.66%,
		rgba(179, 194, 122, 0) 113.61%
	);
}

.seller-order-card-2 {
	width: 120px;
	height: 100%;
	border-radius: 5px;
	background: linear-gradient(
		265deg,
		rgba(179, 194, 122, 0.78) -8.12%,
		rgba(179, 194, 122, 0) 135.76%
	);
}

.seller-order-card-3 {
	width: 160px;
	height: 100%;
	border-radius: 5px;
	background-color: #b3c27a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.seller-order-card-3 h1 {
	color: #46494e;
	font-size: 18px;
	font-weight: 700;
}

.seller-order-card-3 h2 {
	color: #000;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	padding: 5px 15px;
	border-radius: 5px;
	background: #ff004f;
}

.seller-order-card-3 p {
	color: #46494e;
	font-size: 15px;
	font-weight: 400;
}

.seller-order-card-4 {
	width: 120px;
	height: 100%;
	transform: scale(-1);
	border-radius: 5px;
	background: linear-gradient(
		265deg,
		rgba(179, 194, 122, 0.78) -8.12%,
		rgba(179, 194, 122, 0) 135.76%
	);
}

.seller-order-card-5 {
	width: 120px;
	height: 100%;
	border-radius: 5px;
	transform: scale(-1);
	background: linear-gradient(
		267deg,
		rgba(179, 194, 122, 0.6) -128.66%,
		rgba(179, 194, 122, 0) 113.61%
	);
}

.chevron-seller-order {
	font-size: 35px;
	color: #46494e;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.chevron-seller-order:hover {
	transform: scale(1.1);
}

.home-seller-product-information-container {
	display: flex;
	align-self: center;
	width: 91%;
	margin: 20px 0 150px 0;
	flex-wrap: wrap;
	gap: 40px 60px;
	justify-content: center;
}

.seller-product-information {
	border-radius: 10px;
	background: rgba(109, 117, 136, 0.5);
	width: 200px;
	padding: 20px 20px 30px 20px;
}

.seller-product-information p {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

/* ======================== Seller Menu Side Information Container ======================== */
.home-seller-option-side-information-width {
	width: 25%;
}

.home-seller-option-side-information {
	width: 100%;
	border-radius: 15px;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
	background: #fff;
	padding: 30px;
}

.home-seller-option-side-information h2 {
	color: #000;
	font-size: 17px;
	font-weight: 400;
}

.seller-option-side-content {
	display: flex;
	width: 200px;
	height: 200px;
	margin: 100px 0;
	background-color: #d9d9d9;
}

/* ============================================================================== */
/* ======================== Add Product Option Container ======================== */
/* ============================================================================== */
.add-product-seller-option-menu-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
	padding: 25px;
	font-family: Inter;
	gap: 30px;
}

.add-product-seller-option-menu-header {
	padding-left: 15px;
}

.add-product-seller-option-menu-header h1 {
	color: #000;
	font-size: 27px;
	font-weight: 700;
}

.product-information-container-add-product-seller-option {
	border-radius: 10px;
	border: 1px solid rgba(70, 73, 78, 0.2);
	background: #fff;
	padding: 20px 24px;
}

.product-information-container-add-product-seller-option h1 {
	color: #728a1a;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 30px;
}

.product-information-container-add-product-seller-option h2 {
	color: #728a1a;
	font-size: 18px;
	font-weight: 500;
}

.product-information-container-add-product-seller-option p {
	color: #46494e;
	font-size: 15px;
	font-weight: 400;
}

.product-information-container-add-product-seller-option b {
	color: #000;
	font-size: 15px;
	font-weight: 600;
}

/* ======================== Informasi Add Product Option Container ======================== */
/* Product Name */
.product-information-add-product-seller-option-content-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.add-product-seller-option-product-name-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.add-product-seller-option-product-name-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-product-name-fill-content {
	width: 60%;
}

.add-product-seller-input {
	width: 100%;
	border-radius: 5px;
	border: 1px solid rgba(70, 73, 78, 0.24);
	background: #fff;
	padding: 10px;
	font-size: 15px;
	font-weight: 500;
	margin-top: 30px;
	transition: 0.3s ease-in-out;
}

.add-product-seller-input:hover {
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-product-seller-input:focus {
	outline: none;
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

/* Category Product */
.add-product-seller-option-category-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.add-product-seller-option-category-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-category-fill-content {
	width: 60%;
}

.add-product-seller-category-fill-option {
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 5px;
	border: 1px solid rgba(70, 73, 78, 0.24);
	background: #fff;
	padding: 10px;
	margin-top: 15px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.add-product-seller-category-fill-option:hover {
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-product-seller-category-chevron {
	display: flex;
	margin-right: 0;
	margin-left: auto;
	color: #46494e;
}

/* Display Case */
.add-product-seller-option-display-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.add-product-seller-option-display-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-display-fill-content {
	width: 60%;
}

.add-product-seller-display-fill-option {
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 5px;
	border: 1px solid rgba(70, 73, 78, 0.24);
	background: #fff;
	padding: 10px;
	margin-top: 30px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.add-product-seller-display-fill-option:hover {
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

/* Photo Product */
.add-product-seller-option-product-photo-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.add-product-seller-option-product-photo-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-product-photo-fill-content {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.add-product-display-photo-seller-content {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	border: 1px dashed rgba(70, 73, 78, 0.5);
	background: #fff;
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition: 0.3s ease-in-out;
}

.add-product-display-photo-seller-content:hover {
	border: 1px solid rgba(70, 73, 78, 0.5);
	transform: scale(1.01);
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.display-photo-add-icon {
	position: absolute;
	color: #46494ea6;
	font-size: 30px;
}

/* Product Description */
.add-product-seller-option-description-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.add-product-seller-option-description-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-description-fill-content {
	width: 60%;
}

.add-product-seller-option-description-text-area-container {
	display: flex;
	width: 100%;
	height: 240px;
	border: 1px solid rgba(70, 73, 78, 0.24);
	background: #fff;
	border-radius: 6px;
	overflow: hidden;
	transition: 0.3s ease-in-out;
	padding: 10px 16px;
	margin-top: 25px;
}

.add-product-seller-option-description-text-area-container textarea {
	color: #212121;
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	overflow: auto;
	resize: none;
	outline: none;
	border: none;
	width: 100%;
}

.add-product-seller-option-description-text-area-container:hover {
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-product-seller-option-description-text-area-container:focus-within {
	outline: none;
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

/* Product Video */
.add-product-seller-option-video-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
	margin-bottom: 35px;
}

.add-product-seller-option-video-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-video-fill-content {
	width: 60%;
}

.add-video-product-link-seller-option-button {
	display: flex;
	align-items: center;
	border-radius: 5px;
	border: 1px solid rgba(70, 73, 78, 0.24);
	background: #fff;
	padding: 7px 10px;
	width: fit-content;
	color: #728a1a;
	font-size: 15px;
	font-weight: 500;
	gap: 5px;
	margin-top: 8px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.add-video-product-link-seller-option-button:hover {
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
	background-color: rgba(217, 223, 235, 0.253);
}

/* ======================== Variant Add Product Option Container ======================== */
.add-product-seller-option-product-variant-container {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

/* Variant Name */
.add-product-seller-option-variant-name-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-variant-name-fill-content {
	width: 60%;
}

.add-variant-product-seller-input {
	width: 100%;
	border-radius: 5px;
	border: 1px solid rgba(70, 73, 78, 0.24);
	background: #fff;
	padding: 10px;
	font-size: 15px;
	font-weight: 500;
	margin-top: 25px;
	transition: 0.3s ease-in-out;
}

.add-variant-product-seller-input:hover {
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-variant-product-seller-input:focus {
	outline: none;
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

/* Variant Photo */
.add-product-seller-option-variant-photo-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-variant-photo-fill-content {
	width: 60%;
}

.add-product-display-variant-seller-content {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	border: 1px dashed rgba(70, 73, 78, 0.5);
	background: #fff;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition: 0.3s ease-in-out;
}

.add-product-display-variant-seller-content:hover {
	border: 1px solid rgba(70, 73, 78, 0.5);
	transform: scale(1.01);
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.display-variant-add-icon {
	position: absolute;
	color: #46494ea6;
	font-size: 30px;
}

/* Variant Unit Price */
.add-product-seller-option-variant-price-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-variant-price-fill-content {
	width: 60%;
}

.add-product-seller-variant-unit-price-container {
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid rgba(70, 73, 78, 0.24);
	background: #fff;
	transition: 0.3s ease-in-out;
	margin-top: 8px;
	width: 45%;
}

.add-product-seller-variant-unit-price-container:hover {
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-product-seller-variant-unit-price-container:focus-within {
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-product-seller-rp-variant {
	background: rgba(156, 173, 95, 0.6);
	padding: 8px 15px;
	color: #46494e;
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
}

.add-variant-product-seller-unit-price-input {
	border: none;
	outline: none;
	color: #212121;
	font-family: Inter;
	font-size: 15px;
	padding: 8px 10px;
	width: 100%;
}

/* Variant Stock Amount */
.add-product-seller-option-variant-stock-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-prduct-seller-option-variant-stock-fill-content {
	width: 60%;
}

.add-variant-product-seller-stock-amount-input {
	width: 45%;
	border-radius: 5px;
	border: 1px solid rgba(70, 73, 78, 0.24);
	background: #fff;
	padding: 10px;
	font-size: 15px;
	font-weight: 500;
	margin-top: 10px;
	color: #212121;
	transition: 0.3s ease-in-out;
	align-items: center;
}

.add-variant-product-seller-stock-amount-input:hover {
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-variant-product-seller-stock-amount-input:focus {
	outline: none;
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

/* Variant Minimum Purchase */
.add-product-seller-option-variant-minpurchase-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-variant-minpurchase-fill-content {
	width: 60%;
}

/* Variant Weight */
.add-product-seller-option-variant-weight-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-variant-weight-fill-content {
	width: 60%;
}

/* Variant Size */
.add-product-seller-option-variant-size-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-variant-size-fill-content {
	width: 60%;
}

.add-product-seller-variant-size-input-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
	width: 100%;
}

.add-product-seller-variant-size-input-content {
	display: flex;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid rgba(70, 73, 78, 0.24);
	background: #fff;
	align-items: center;
	margin-top: 20px;
	transition: 0.3s ease-in-out;
}

.add-product-seller-variant-size-input-content:hover {
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-product-seller-variant-size-input-content:focus-within {
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-variant-product-seller-size-input {
	outline: none;
	border: none;
	padding: 10px 10px;
	width: 100%;
	color: #212121;
	font-size: 15px;
	font-weight: 400;
}

.add-product-seller-size-cm-variant {
	display: flex;
	background-color: #9cad5f99;
	padding: 10px 10px;
	color: #46494e;
	font-size: 15px;
	font-weight: 400;
}

/* Variant Weight */
.add-product-seller-option-variant-delivery-content {
	display: flex;
	flex-direction: column;
	width: 32%;
	gap: 10px;
}

.add-product-seller-option-variant-delivery-fill-content {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-bottom: 20px;
}

.add-product-seller-option-variant-delivery-type-container {
	display: flex;
	flex-direction: row;
	gap: 5rem;
}

.add-product-seller-option-variant-delivery-type-container h3 {
	color: #46494e;
	font-family: Inter;
	font-size: 17px;
	font-weight: 400;
	margin-top: 2px;
}

/* Delivery Type */
.add-product-seller-option-variant-delivery-type-content {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 10px;
}

.add-product-seller-option-variant-delivery-type-content label {
	display: flex;
	padding-left: 25px;
	cursor: pointer;
	align-items: center;
}

.add-product-seller-option-variant-delivery-type-content input[type="radio"] {
	position: absolute;
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid var(--clr-hijau-lumut);
	outline: none;
	cursor: pointer;
}

.add-product-seller-option-variant-delivery-type-content
	input[type="radio"]:checked {
	background-color: #fff;
}

.add-product-seller-option-variant-delivery-type-content
	input[type="radio"]:checked::before {
	content: "";
	align-items: center;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--clr-hijau-lumut);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.address-option-account input[type="radio"]:hover::before {
	content: "";
	align-items: center;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--clr-hijau-lumut);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.add-product-seller-option-variant-delivery-services-container {
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	border: 1px solid rgba(70, 73, 78, 0.24);
	background: #fff;
	width: 35%;
	padding: 8px 10px;
	align-items: center;
	position: relative;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.add-product-seller-option-variant-delivery-services-container:hover {
	border-color: #728a1a;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-product-seller-option-variant-delivery-services-container h4 {
	color: #46494e47;
	font-size: 15px;
	font-weight: 400;
}

.add-variant-delivery-chevron {
	position: absolute;
	right: 10px;
	color: #46494e;
}

.add-product-seller-option-variant-delivery-services-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 35%;
	border-radius: 5px;
	background: #9cad5fd4;
	padding: 8px;
	gap: 6px;
	color: #46494e;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.add-product-seller-option-variant-delivery-services-button:hover {
	transform: scale(1.002);
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-product-seller-option-delete-variant-button {
	display: flex;
	width: 15%;
	border-radius: 5px;
	border: 1px solid #46494e33;
	background: #ff543e87;
	color: #46494e;
	font-size: 15px;
	font-weight: 400;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin-left: auto;
	margin-right: 0px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.add-product-seller-option-delete-variant-button:hover {
	transform: scale(1.002);
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-product-seller-option-add-variance-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background: #9cad5f61;
	padding: 18px;
	cursor: pointer;
	color: #46494e;
	font-size: 17px;
	font-weight: 400;
	gap: 8px;
	transition: 0.3s ease-in-out;
}

.add-product-seller-option-add-variance-button:hover {
	transform: scale(1.002);
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-product-seller-option-save-cancel-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	gap: 20px;
	margin-bottom: 10px;
}

.add-product-seller-option-save-cancel-button {
	display: flex;
	border-radius: 5px;
	width: 17%;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	padding: 5px;
}

.add-product-seller-option-save-cancel-button:hover {
	transform: scale(1.002);
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.add-product-seller-cancel-button {
	border: 1px solid rgba(70, 73, 78, 0.2);
	background: #fff;
	color: #000;
	font-size: 15px;
	font-weight: 400;
}

.add-product-seller-save-button {
	border: 1px solid rgba(70, 73, 78, 0.2);
	background: #728a1a;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
}

/* ============================================================================-== */
/* ======================== List Product Option Container ======================== */
/* =============================================================================== */
.list-product-page-seller-option-menu-container {
	display: flex;
	flex-direction: row;
}

.list-product-seller-option-menu-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
	font-family: Inter;
	min-height: 1500px;
	max-height: auto;
}

.horizontal-line-list-product-seller-option {
	height: 1px;
	width: 100%;
	background: #46494e4d;
}

/* ======================== List Product Option Header ======================== */
.list-product-seller-option-menu-header {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 25px 25px 0 35px;
	margin-bottom: 20px;
}

.list-product-seller-option-menu-header h1 {
	color: #000;
	font-size: 27px;
	font-weight: 700;
}

.tambah-product-list-seller-option-menu-button {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	border-radius: 5px;
	background: #728a1a;
	padding: 8px 12px;
	margin: 20px 0 0 auto;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.tambah-product-list-seller-option-menu-button:hover {
	transform: scale(1.005);
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

/* ======================== List Product Option Filter Container ======================== */
.list-product-seller-option-search-filter-container {
	display: flex;
	flex-direction: row;
	background: #46494e0d;
	padding: 15px 25px;
	padding-left: 50px;
}

.list-product-seller-option-search-content {
	display: flex;
	flex-direction: row;
	padding: 8px 10px;
	border-radius: 10px;
	background: #fff;
	align-items: center;
	gap: 8px;
	width: 25%;
	transition: 0.3s ease-in-out;
}

.list-product-seller-option-search-content:hover {
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.list-product-seller-option-search-content:focus-within {
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.list-product-seller-option-search-content input {
	outline: none;
	border: none;
	color: #000;
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	width: 100%;
}

.list-product-seller-option-search-content input::placeholder {
	color: #000000af;
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
}

.search-list-product-seller-icon {
	color: #212121;
	font-size: 17px;
}

.list-product-seller-option-filter-container {
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-right: 20px;
	gap: 20px;
}

.list-product-seller-option-filter-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 10px;
	background: #fff;
	padding: 5px 12px;
	width: 180px;
	position: relative;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.list-product-seller-option-filter-wrapper:hover {
	box-shadow: 0px 2px 6px 0px rgba(164, 170, 184, 0.5);
}

.list-product-seller-option-filter-wrapper h3 {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

.chevron-list-product-seller-filter-icon {
	position: absolute;
	right: 10px;
}

/* ======================== List Product Option Product Information ======================== */
.list-product-seller-option-header-product-information-container {
	display: flex;
	flex-direction: row;
	padding: 25px;
	align-items: center;
}

.list-product-seller-option-header-product-information-container h2 {
	color: #46494e;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
}

.list-product-seller-checkbox-item-container {
	display: flex;
	align-items: center;
	gap: 50px;
}

.list-product-seller-checkbox-content {
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: fit-content;
	color: var(--clr-abu-agak-tua);
}

.list-product-seller-checkbox-content input {
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark-list-product-seller {
	position: absolute;
	left: 0;
	height: 24px;
	width: 24px;
	border: 1px solid var(--clr-hitam-luntur);
	border-radius: 30%;
	background-color: none;
}

.list-product-seller-checkbox-content
	input:checked
	~ .checkmark-list-product-seller {
	background-color: var(--clr-hijau-lumut);
	border-color: var(--clr-hijau-lumut);
}

.checkmark-list-product-seller:after {
	content: "";
	position: absolute;
	display: none;
}

.list-product-seller-checkbox-content
	input:checked
	~ .checkmark-list-product-seller:after {
	display: block;
}

.mark-icon-list-product-seller {
	font-size: 19px;
	color: #fff;
	position: relative;
	display: flex;
	margin: auto;
	margin-top: 2px;
	margin-left: 1px;
}

.list-product-seller-information-item-container {
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-right: 180px;
	gap: 160px;
}

/* ======================== List Product Option Item Information ======================== */
.list-product-seller-option-item-price-fill-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
	padding: 25px;
}

.list-product-seller-information-item-fill-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.list-product-seller-information-item-fill-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin-bottom: 25px;
	justify-content: space-between;
	position: relative;
}

.list-product-seller-image-item-wrapper {
	width: 100%;
}

.list-product-seller-image-item-container {
	display: flex;
	flex-direction: row;
	position: relative;
	gap: 15px;
	align-items: center;
	width: fit-content;
}

.list-product-seller-image-item-container p {
	color: #212121;
	font-size: 15px;
	font-weight: 400;
	width: 70%;
}

.list-product-seller-image-content {
	display: flex;
	width: 90px;
	height: 90px;
	border-radius: 10px;
	overflow: hidden;
}

.list-product-seller-image-content img {
	object-fit: cover;
	object-position: center;
	margin: auto;
	width: 100%;
	height: 100%;
}

.list-product-seller-information-item-fill-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	gap: 70px;
	margin-right: 80px;
}

.list-product-seller-information-item-fill-container h2 {
	color: #46494e;
	font-size: 17px;
	font-weight: 400;
}

.list-product-seller-sold-item-content,
.list-product-seller-price-item-content,
.list-product-seller-stock-item-content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px 0;
}

.list-product-seller-sold-item-content,
.list-product-seller-stock-item-content {
	border-radius: 5px;
	border: 1px solid #46494e36;
	background: #fff;
	width: 80px;
}

.list-product-seller-price-item-content {
	border-radius: 5px;
	border: 1px solid #46494e36;
	background: #fff;
	width: 200px;
}

.list-product-seller-icon-edit-delete-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	color: #000;
	font-size: 22px;
	padding-right: 10px;
	margin: auto;
	margin-right: 0;
}

.list-product-seller-edit-icon,
.list-product-seller-delete-icon {
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.list-product-seller-edit-icon:hover,
.list-product-seller-delete-icon:hover {
	transform: scale(1.1);
}

.list-product-seller-view-varian-product-button {
	width: 100%;
	border-radius: 5px;
	background: #9cad5fa6;
	padding: 10px 30px;
	color: #46494e;
	font-size: 16px;
	font-weight: 400;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.list-product-seller-view-varian-product-button:hover {
	box-shadow: 0px 2px 6px 0px rgba(164, 170, 184, 0.5);
	transform: scale(1.002);
}
