/* ======================== Variable ======================== */
:root {
	--ff-text: "Inter-Regular", Helvetica;
	--ff-text-semi-bold: "Inter-SemiBold", Helvetica;
	--ff-iter-font: "Inter";
	--clr-toggle-button: #728a1a;
	--clr-button: #bbb;
	--clr-arrow: #000;
	--clr-text-produk: #212121;
	--clr-border: rgb(194, 194, 194);
	--clr-abu-muda: #f0f3f7;
	--clr-abu-sedang: #6d7588;
	--clr-abu-agak-tua: #46494e;
	--clr-hijau-opa-22: #728a1a38;
	--clr-hitam: #000;
	--clr-hitam-luntur: #212121;
	--clr-putih: #fff;
	--clr-hijau-lumut: #728a1a;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

div {
	display: block;
}

/* ======================== Main Check Out Page ======================== */
.check-out-page-container {
	height: 100vh;
	width: 100vw;
	font-family: var(--ff-body);
	font-size: 0.95rem;
	line-height: 1.5;
	overflow-x: hidden;
}

/* ======================== Main Check Out Page ======================== */
.check-out-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: 10%;
	user-select: none;
	font-family: var(--ff-iter-font);
}

.check-out-container h1 {
	color: var(--clr-hitam-luntur);
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 20px;
}

.check-out-container h2 {
	color: var(--clr-hitam-luntur);
	font-size: 20px;
	font-weight: 600;
	padding: 17px 25px;
}

.check-out-content-container {
	display: flex;
	flex-direction: row;
}

.alamat-pengirim-produk-dipesan-container {
	width: 70%;
	user-select: none;
}

.horizontal-line-check-out {
	background-color: var(--clr-abu-muda);
	height: 2px;
}

/* =================================================================== */
/* ======================== Alamat Pengiriman ======================== */
/* =================================================================== */
.alamat-pengiriman-container {
	border-radius: 10px;
	border: 1px solid var(--abu-muda);
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
	margin-bottom: 20px;
}

.penerima-container {
	margin: 17px 25px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.penerima-container h3 {
	color: var(--clr-hitam-luntur);
	font-size: 16px;
	font-weight: 500;
}

.penerima-container h4 {
	color: var(--clr-hitam-luntur);
	font-size: 15px;
	font-weight: 400;
}

.penerima-container p {
	color: var(--clr-abu-sedang);
	font-size: 15px;
	font-weight: 400;
}

.button-alamat-container {
	padding: 17px 25px;
}

.button-alamat {
	width: fit-content;
	color: var(--clr-hijau-lumut);
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	padding: 8px 10px;
	border-radius: 6px;
	border: 1px solid var(--clr-hijau-lumut);
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.button-alamat:hover {
	background-color: #e1e2e6;
}

/* ======================== Pilih Alamat Lain Container ======================== */
.change-alamat-dropdown-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #46494e80;
	z-index: 1;
	justify-content: center;
	user-select: none;
	overflow: auto;
}

.change-alamat-content {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: fit-content;
	margin: 100px 0px;
	background-color: white;
	border-radius: 10px;
}

.horizontal-line-choose-address {
	height: 2px;
	background-color: #e1e6ed;
	width: 100%;
}

.close-alamat-button {
	display: flex;
	color: var(--clr-hijau-lumut);
	font-size: 45px;
	width: fit-content;
	cursor: pointer;
	padding: 20px 40px 0 30px;
	transition: 0.3s ease-in-out;
}

.close-alamat-button:hover {
	transform: scale(1.04);
}

.add-new-alamat-button {
	color: var(--clr-hijau-lumut);
	border: 1px solid var(--clr-hijau-lumut);
	border-radius: 10px;
	margin: 30px 40px;
	text-align: center;
	padding: 10px 0;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.add-new-alamat-button:hover {
	background-color: #e1e2e6;
}

.change-alamat-content h1 {
	align-self: center;
	color: #212121;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 30px;
}

/* ======================== Option Alamat ======================== */
.address-option-checkout-container {
	display: flex;
	flex-direction: column;
	padding: 0px 40px 40px 40px;
	gap: 20px;
}

.address-option-checkout {
	display: flex;
	flex-direction: row;
	width: 100%;
	border: 1px solid var(--clr-hijau-lumut);
	border-radius: 6px;
	padding: 20px 20px;
	justify-content: space-between;
}

.address-option-checkout label {
	margin: 0 30px 0 30px;
	cursor: pointer;
	gap: 10px;
}

.address-option-checkout input[type="radio"] {
	position: absolute;
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid var(--clr-hijau-lumut);
	outline: none;
	cursor: pointer;
	margin-top: 4px;
}

.address-option-checkout input[type="radio"]:checked {
	background-color: #fff;
}

.address-option-checkout input[type="radio"]:checked::before {
	content: "";
	align-items: center;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--clr-hijau-lumut);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.address-option-checkout input[type="radio"]:hover::before {
	content: "";
	align-items: center;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--clr-hijau-lumut);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.address-option-checkout-information {
	display: flex;
	flex-direction: column;
	gap: 0;
}

.address-option-checkout h2 {
	color: #000;
	font-size: 17px;
	font-weight: 500;
	padding: 0;
}

.address-option-checkout p {
	color: #6d7588;
	font-size: 16px;
	font-weight: 400;
}

.address-update-checkout-button h3 {
	color: #728a1a;
	font-size: 17px;
	font-weight: 400;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.address-update-checkout-button h3:hover {
	transform: scale(1.02);
}

/* ======================== Button Option ======================== */
.button-choose-address-container {
	display: flex;
	justify-content: right;
	margin: 10px 30px;
	gap: 25px;
}

.button-choose-address {
	padding: 8px 16px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 500;
	margin: 15px 0;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.button-confirm-address {
	color: #fff;
	background-color: #728a1a;
	border: 1px solid #728a1a;
}

.button-confirm-address:hover {
	background-color: #495811;
}

.button-cancel-address {
	color: #46494e;
	border: 1px solid #6d7588;
	background-color: #fff;
}

.button-cancel-address:hover {
	background-color: #e1e2e6;
}

/* ================================================================ */
/* ======================== Produk Dipesan ======================== */
/* ================================================================ */
.produk-dipesan-container {
	border-radius: 10px;
	border: 1px solid var(--abu-muda);
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.horizontal-line-produk-dipesan {
	background-color: var(--clr-abu-muda);
	height: 2px;
}

/* ======================== Header Produk Dipesan ======================== */
.produk-dipesan-space-between {
	display: flex;
	justify-content: space-between;
}

.produk-dipesan-title {
	width: 60%;
}

.title-produk-dipesan {
	display: flex;
	justify-content: space-between;
	width: 40%;
	padding-right: 25px;
	align-items: center;
}

.title-produk-dipesan p {
	color: var(--clr-abu-agak-tua);
	font-size: 16px;
	font-weight: 400;
}

/* ======================== Produk Pesanan ======================== */
.maggot-store-produk {
	padding: 20px 25px;
}

.maggot-store-produk h3 {
	color: var(--clr-hitam);
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 8px;
}

.maggot-store-produk p {
	color: var(--clr-abu-sedang);
	font-size: 15px;
	font-weight: 400;
}

.horizontal-line-informasi-produk-dipesan {
	height: 1px;
	background: #d9dde3;
}

.informasi-produk-pesanan {
	width: 60%;
	display: flex;
	align-items: center;
}

.gambar-produk-pesanan img {
	width: 100px;
	height: 100px;
	border-radius: 5px;
}

.informasi-produk-pesanan-space-between {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-information {
	padding: 0 20px;
	align-self: center;
}

.harga-satuan-total-produk-pesanan {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.harga-satuan-total-produk-pesanan p {
	color: var(--clr-hitam-luntur);
	font-size: 16px;
	font-weight: 400;
}

.harga-satuan-total-produk-pesanan h5 {
	color: var(--clr-hitam-luntur);
	font-size: 17px;
	font-weight: 700;
}

.harga-satuan-produk {
	display: flex;
	padding-left: 18px;
	width: 30%;
}

.kuantitas-produk {
	text-align: center;
	padding-left: 15px;
	width: 40%;
}

.total-harga-produk {
	display: flex;
	justify-content: flex-end;
	width: 30%;
}

/* ======================== Chat Penjual ======================== */
.pesan-penjual-pengiriman-container {
	padding: 20px 25px;
	display: flex;
	align-items: center;
}

.pesan-penjual-container {
	display: flex;
	width: 60%;
	align-items: center;
}

.pesan-penjual-container h6 {
	color: var(--clr-hitam-luntur);
	font-size: 17px;
	font-weight: 500;
	padding-right: 10px;
}

.pesan-penjual-input {
	width: 80%;
	height: 40px;
	border-radius: 4px;
	overflow: hidden;
	padding: 10px;
	color: var(--clr-hitam-luntur);
	font-size: 15px;
	font-weight: 400;
	border: 1px solid var(--clr-hijau-lumut);
	transition: 0.3s ease-in-out;
}

.pesan-penjual-input:hover {
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.pesan-penjual-input:focus-within {
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
	outline: none;
}

.pengiriman-produk-pesanan-container {
	display: flex;
	width: 40%;
	justify-content: space-between;
	align-items: center;
}

.pengiriman-produk-pesanan-container h3 {
	color: var(--clr-hitam-luntur);
	font-size: 17px;
	font-weight: 500;
}

.pengiriman-produk-pesanan-container h5 {
	color: var(--clr-hitam-luntur);
	font-size: 17px;
	font-weight: 700;
	cursor: pointer;
}

.ubah-pengiriman-produk-pesanan {
	align-items: center;
}

.ubah-pengiriman-produk-pesanan h4 {
	color: var(--clr-hitam-luntur);
	font-size: 17px;
	font-weight: 400;
	padding-right: 20px;
}

.ubah-pengiriman-produk-pesanan p {
	color: var(--clr-hijau-lumut);
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
}

.ubah-pengiriman-produk-pesanan {
	display: flex;
	align-items: center;
}

/* ======================== Total Pesanan Produk ======================== */
.total-pesanan-pesanan-produk-width {
	padding: 20px 25px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.total-pesanan-pesanan-produk-container {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.total-pesanan-pesanan-produk-container p {
	color: var(--clr-hitam-luntur);
	font-size: 16px;
	font-weight: 400;
}

.total-pesanan-pesanan-produk-container h5 {
	color: var(--clr-hitam-luntur);
	font-size: 17px;
	font-weight: 700;
}

/* =================================================================== */
/* ======================== Ringkasan Belanja ======================== */
/* =================================================================== */
.ringkasan-belanja-container {
	width: 30%;
	user-select: none;
}

.ringkasan-belanja-height {
	border-radius: 10px;
	border: 1px solid var(--abu-muda);
	margin-left: 32px;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
}

.barang-belanja-container {
	margin: 16px 25px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.total-harga-barang-container,
.total-ongkos-kirim-container,
.total-belanja-container {
	display: flex;
	justify-content: space-between;
}

.total-harga-barang-container p,
.total-ongkos-kirim-container p {
	color: var(--clr-abu-agak-tua);
	font-size: 15px;
	font-weight: 400;
}

.total-belanja-container p {
	color: var(--clr-hitam-luntur);
	font-size: 17px;
	font-weight: 600;
}

.horizontal-line-barang-belanja {
	background-color: var(--clr-abu-sedang);
	height: 1px;
}

/* ======================== Metode Pembayaran ======================== */
.metode-pembayaran-check-out {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 25px;
	align-items: center;
	position: relative;
}

.metode-pembayaran-check-out h6 {
	color: var(--clr-hitam-luntur);
	font-size: 16px;
	font-weight: 600;
}

.menu-transfer-bank {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.menu-transfer-bank p {
	color: var(--clr-hitam-luntur);
	font-size: 16px;
	font-weight: 400;
	padding-right: 8px;
}

.icon-menu-transfer {
	color: var(--clr-hijau-lumut);
	font-size: 16px;
}

/* ======================== Dropdown Metode Pembayaran ======================== */
.metode-pembayaran-list {
	display: none;
	position: absolute;
	top: 150%;
	width: 100%;
	border: 1px solid var(--abu-muda);
	border-radius: 10px;
	box-shadow: 0px 2px 6px 0px rgba(109, 117, 136, 0.5);
	background-color: #fff;
}

.horizontal-line-metode-pembayaran-dropdown {
	height: 1px;
	background-color: #e1e6ed;
}

.transfer-bank-dropdown-header {
	display: flex;
	align-items: center;
	padding: 10px 28px;
	width: 100%;
}

.option-payment-method {
	display: flex;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

.transfer-bank-dropdown-choice {
	padding: 10px 28px;
}

.arrow-button-transfer-bank-dropdown {
	color: var(--clr-hijau-lumut);
	position: absolute;
	font-size: 30px;
	cursor: pointer;
	z-index: 1;
}

.transfer-bank-dropdown-header h1 {
	width: 100%;
	color: var(--clr-hitam-luntur);
	position: relative;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.metode-pembayaran-list h2 {
	color: var(--clr-hitam-luntur);
	font-size: 17px;
	font-weight: 500;
}

.metode-pembayaran-list.show {
	display: block;
}

.transfer-bank-container,
.cash-on-delivery-container {
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 10px;
	transition: 0.3s ease-in-out;
}

.transfer-bank-container:hover,
.cash-on-delivery-container:hover {
	background-color: #f0f0f0;
}

.transfer-bank-icon,
.cash-on-delivery-icon {
	margin-left: 20px;
}

.cash-on-delivery-icon {
	font-size: 20px;
}

/* ======================== Ringkasan Belanja Button ======================== */
.button-check-out-barang-belanja {
	text-align: center;
	padding: 10px 25px;
}

.button-check-out-barang-belanja h1 {
	padding: 15px;
	border-radius: 6px;
	background-color: var(--clr-hijau-lumut);
	color: var(--clr-putih);
	font-size: 17px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.button-check-out-barang-belanja h1:hover {
	background-color: #495811;
}
