/* ======================== Variable ======================== */
:root {
	--ff--text: "Inter-Bold", Helvetica;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	--clr-text: #ffffff;
	--clr-toggle-text: #c0bebe;

	--clr-green: #728a1a;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

div {
	display: block;
}

/* ======================== Header ======================== */
.header-container {
	background-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
	border-color: #6d7588;
	margin-bottom: 20px;
}

.header {
	width: 80%;
	margin-left: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px;
}

/* ======================== Logo ======================== */
#logo {
	color: var(--clr-green);
	font-family: var(--ff--text);
	font-size: 27px;
	font-weight: 800;
	line-height: normal;
	position: relative;
	margin-right: 136px;
	cursor: default;
}

/* ======================== Search bar ======================== */
.search-bar-container {
	border: 1px solid #212121;
	border-radius: 100px;
	height: 37px;
	width: 50%;
	display: flex;
	align-items: center;
	overflow: hidden;
	margin-right: auto;
	margin: 3.9px 8px;
	font-size: 20px;
	transition: 0.4s ease;
}

.search-bar-container input[type="text"] {
	border: none;
	color: #000;
	outline: none;
	width: 95%;
	border-radius: 100px;
	padding: 8px;
	font-size: 15px;
	font-weight: 500;
	margin-left: 0px;
	background: transparent;
}

.search-bar-container:focus-within {
	border-color: var(--clr-green);
	box-shadow: 0 0 2px 1px #728a1a;
	color: var(--clr-green);
}

.search-bar-container:hover {
	border-color: var(--clr-green);
	box-shadow: 0 0 2px 1px #728a1a;
	color: var(--clr-green);
}

.search-icon {
	margin-left: 8px;
}

/* ======================== Button ======================== */
.button-cart {
	border-radius: 100px;
	text-align: center;
	justify-content: center;
	height: 35px;
	width: 35px;
	border: none;
	background-color: transparent;
	margin-left: 36px;
	margin-top: auto;
	margin-bottom: auto;
	transition: 0.5s ease;
	cursor: pointer;
}

.button-cart [name="cart"] {
	font-size: 25px;
	margin-top: 6.5px;
	margin-right: 2px;
}

.button-cart:hover {
	background-color: #5855555e;
	transform: scale(1.05);
}

.button-masuk,
.button-daftar {
	cursor: pointer;
	text-decoration: none;
	border: 1px solid var(--clr-green);
	border-radius: 100px;
	height: 33px;
	position: relative;
	width: 95px;
	margin-top: 7px;
	margin-bottom: auto;
	transition: 0.4s;
	margin-left: 36px;
	background-color: #ffffff;
	transition: 0.5s ease;
}

.button-daftar {
	background-color: var(--clr-green);
}
.button-masuk:hover {
	background-color: #5855555e;
	transform: scale(1.05);
}

.button-daftar:hover {
	background-color: #198501;
	transform: scale(1.05);
}

.button-masuk h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 4px;
	font-family: var(--ff--text);
	color: var(--clr-green);
	font-size: 17px;
	font-weight: var(--fw-semi-bold);
}

.button-daftar h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 4px;
	font-family: var(--ff--text);
	color: var(--clr-text);
	font-size: 17px;
	font-weight: var(--fw-semi-bold);
}

/* ======================== Responsive ======================== */
@media only screen and (max-width: 1728px) and (min-width: 1281px) {
	#logo {
		font-size: 27px;
		font-weight: 800;
		line-height: normal;
		position: relative;
		margin-right: 50px;
	}

	.search-bar-container {
		width: 45%;
		height: 33px;
	}

	.button-cart {
		border: none;
		background-color: transparent;
		margin-left: 16px;
		margin-top: auto;
		margin-bottom: auto;
	}

	.button-cart [name="cart"] {
		font-size: 24px;
		margin-top: 7px;
		margin-left: 1px;
	}

	.search-icon {
		font-size: 15px;
	}

	.button-masuk,
	.button-daftar {
		margin-top: 5px;
		margin-bottom: auto;
		margin-left: 10px;
	}
}

@media only screen and (max-width: 1280px) {
	#logo {
		font-size: 25px;
		font-weight: 800;
		line-height: normal;
		position: relative;
		margin-right: 50px;
	}

	.search-bar-container {
		width: 40%;
		height: 27px;
		margin-top: 7px;
	}

	.search-bar-container input[type="text"] {
		font-size: 13px;
		margin-top: 2px;
	}

	.button-cart {
		height: 28px;
		width: 28px;
		border: none;
		background-color: transparent;
		margin-left: 16px;
		margin-top: auto;
		margin-bottom: auto;
	}

	.button-cart [name="cart"] {
		margin-top: 5px;
		margin-left: 2px;
		font-size: 21px;
	}

	.search-icon {
		font-size: 15px;
	}

	.button-masuk,
	.button-daftar {
		height: 28px;
		width: 85px;
		margin-top: 7px;
		margin-bottom: auto;
		margin-left: 15px;
	}

	.button-masuk h2 {
		margin-top: 3px;
		font-size: 15px;
	}

	.button-daftar h2 {
		margin-top: 3px;
		font-size: 15px;
	}
}
